@import url("css/base.css");
@import url("css/header.css");
@import url("css/sidebar.css");
@import url("css/layout.css");
@import url("css/components.css");
@import url("css/pages/auth.css");
@import url("css/pages/feedback.css");
@import url("css/pages/home.css");
@import url("css/pages/products.css");
@import url("css/pages/inbox.css");
@import url("css/pages/settings.css");
@import url("css/responsive.css");
@import url("css/animations.css");
@import url("css/pages/profile.css");
@import url("css/pages/upload_product.css");