@media (max-width: 768px) {
  main .page { width: 100%; }

  .conversation-list {
    width: 4rem;
  }

  .message {
    max-width: 85%;
  }

  #profile {
    justify-content: center;
    align-items: center;
    width: 92%;
  }

  .profile-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
  }

  .profile-info h1 { font-size: 1rem; }
  
  .profile-image-placeholder {
    margin-bottom: 1rem;
  }

  .stats {
    justify-content: center;
    gap: 0.5rem;
  }

  .engagement-metrics {
    justify-content: center;
    display: flex;
  }
}